.navbar-header {
    background: #FFF;
    padding: 12px 24px;
    margin-left: 240px;
    border-bottom: 1px solid #CBCBCB;
}

.search-container {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
    left: 0;
    display: flex;
    align-items: center;
    padding-left: 8px;
    font-size: 18px;
}

.search-icon svg {
    color: #495057;
}

.search-input {
    border: 1px solid #fff;
    padding: 8px 36px;
    background: transparent;
    border-radius: 8px;
    color: #8592AD;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a0aec0;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #00963f;
}

input:focus+.slider {
    box-shadow: 0 0 1px #00963f;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider .sun-icon,
.slider .moon-icon {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #00963f;
    transition: opacity 0.4s ease;
}

.slider .moon-icon {
    opacity: 0;
}

input:checked+.slider .moon-icon {
    opacity: 1;
}

input:checked+.slider .moon-icon {
    left: auto;
    right: 8px
}

input:checked+.slider .sun-icon {
    left: 4px;
    right: auto;
}


.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dark-mode .sun-icon {
    display: none;
}

.dark-mode .moon-icon {
    display: inline-block;
}

.sun-icon,
.moon-icon {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #00963f;
}


.notification-button {
    position: relative;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #1c1c1c;
}

.notification-badge {
    position: absolute;
    top: -10px;
    right: 0;
    background-color: #00963f;
    color: #fff;
    border-radius: 50%;
    padding: 6px;
    font-size: 10px;
}

.user-info {
    padding: 0 0 0 12px;
}

.user-info span {
    color: #8592AD;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.user-image {
    border: 0;
    background: transparent;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.dropdown-menu {
    position: absolute;
    top: calc(85%);
    right: 30px;
    background: #00963f;
    border-radius: 4px;
    z-index: 999;
    display: block;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    border: 0;
}

.dropdown-menu::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 8px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: transparent transparent #00963f transparent;
}


.dropdown-menu-items {
    padding: 0 8px;
}

.dropdown-item {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #fff;
    border-radius: 2px;
}

.profile--icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}










/* ================================================================================================== */

.line-dashed {
    border-bottom: 2px dashed #00963f;
    margin: 8px 0 16px 0;
}

.documentation-section {
    border-radius: 12px;
    padding: 12px;
    /* background-image: url(../../Assets/bg/sidebar-bg.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-documentation {
    background: #fff;
    padding: 0px;
    border-radius: 12px;
    color: #00963f;
    font-size: 24px;
    font-weight: 600;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-documentation span {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-top: 12px;
}

.btn-documentation {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #2d3748;
    background: #fff;
    border-radius: 12px;
    text-align: center;
    padding: 8px 12px;
    margin-top: 12px;
}

.sidebar {
    width: 240px;
    position: fixed;
    top: 0;
    left: -240px;
    height: 100%;
    background-color: #fff;
    transition: left 0.3s ease;
    z-index: 1001;
    border-right: 1px solid #cbcbcb;
}

.sidebar.open {
    left: 0;
}

.toggle-btn {
    position: fixed;
    top: 12px;
    left: 10px;
    z-index: 1001;
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    background: #00963f;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    background: #00963f;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.sidebar-content {
    padding: 10px 16px;
}

.sidebar-header img {
    width: 140px;
    padding: 0 0 20px 0;
}

.sidebar-nav {
    overflow-y: auto;
    max-height: calc(100vh - 60px);
}

.sidebar-nav::-webkit-scrollbar {
    width: 4px;
}

.sidebar-nav::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.sidebar-nav::-webkit-scrollbar-track {
    background-color: transparent;
}

.sidebar-nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-nav ul li {
    margin-bottom: 10px;
    cursor: pointer;
}

.main-menus {
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
    color: #000;
}

.sidebar-nav ul li a {
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0;
    color: #000;
    border-radius: 24px;
    text-decoration: none;
    padding: 8px 12px;
    width: 100%;
}

.sidebar-nav ul li a:hover {
    color: #fff;
    background: #00963f;
}

.sidebar-nav ul li a svg {
    margin-right: 10px;
}

.sidebar-footer {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.sidebar-footer a {
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0;
    color: #a0aec0;
    border-radius: 24px;
    text-decoration: none;
}

.sidebar-icon {
    color: #00963f;
    margin-right: 8px;
}

.active-nav-links {
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0;
    color: #fff !important;
    background: #00963f;
}

.active-nav-links .sidebar-icon {
    color: #fff;
}

.sidebar-nav ul li a:hover .sidebar-icon {
    color: #fff;
}

.main-wrapper {
    padding: 24px;
    margin-left: 240px;
    background: #f9f7f7;
}

.ant-table-wrapper table {
    font-family: "Inter";
}


@media (min-width: 769px) {
    .sidebar {
        left: 0;
    }

    .toggle-btn,
    .close-btn {
        display: none;
    }

    .main-wrapper {
        margin-left: 240px;
    }
}

@media (max-width: 768px) {
    .main-wrapper {
        margin-left: 0;
    }

    .navbar-header {
        margin-left: 0;
    }
}